<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ermine projects</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='erminelogo.png') }}" alt="Ermine Logo" class="logo">
        </div>
		


<div class="intro-text">
    <h2>In simplicity is beauty.</h2>
<button id="skills-btn" class="btn skills" style="display: block; margin: 0 auto; width: max-content;">Skills / About</button>
</div>

<div id="skills-section" class="skills-section">
    <div class="skills-category">
        <h3 class="skills-header">Tech:</h3>
        <ul>
            <li>General tech support, HW / SW</li>
            <li>Code - Python, JS, HTML5, CSS, SQL, and many related frameworks and technologies</li>
            <li>Phone repair</li>
            <li>Computer assembly</li>
        </ul>
    </div>

    <div class="skills-category">
        <h3 class="skills-header">Design:</h3>
        <ul>
            <li>Graphical design - extensive PS experience + Illustrator + Indesign</li>
            <li>Poster / marketing material design</li>
            <li>Book design</li>
            <li>AutoCAD and similar CAD programs</li>
        </ul>
    </div>

    <div class="skills-category">
        <h3 class="skills-header">Mechanical:</h3>
        <ul>
            <li>E-Scooter complete repair & assembly</li>
            <li>Bicycle complete repair & assembly</li>
        </ul>
    </div>

    <div class="skills-category">
        <h3 class="skills-header">Hobby-grade:</h3>
        <ul>
            <li>Board game design - from start to finish, including game logic, graphical assets, printing and game piece creation</li>
            <li>MIG/MAG/WIG welding</li>
            <li>Lasercutting</li>
        </ul>
    </div>

    <div class="skills-category">
        <h3 class="skills-header">Mental:</h3>
        <ul>
            <li>I'm passionate about everything I do.</li>
            <li>I learn and work best by starting in the middle.</li>
            <li>Fast worker, can work on multiple projects simultaneously.</li>
			<li>Bad at explaining things.</li>
        </ul>
    </div>
</div>

		
<div id="project-grid" class="project-grid">

          <div class="project">
                <a href="https://stimmungskompass.at" class="btn stimmungskompass">Stimmungskompass</a>
                <p>An online application designed for towns to engage residents in participatory planning. The project closest to my heart.</p>
            </div>
            <div class="project">
                <a href="https://stravaexporter.ermine.at" class="btn otterguessr">Stravaexporter</a>
                <p>Create visually compelling maps out of your Strava activities.</p>
            </div>
            <div class="project">
                <a href="https://otterguessr.ermine.at" class="btn otterguessr">Otterguessr</a>
                <p>A free geoguessing game, with local / online multiplayer, custom game editor and custom map import.</p>
            </div>
	
<div class="project">
    <a href="https://brunnen.ermine.at" class="btn fundamt">BrunnenNavi</a>
    <p>A service for finding public drinking fountains in Wien, cause working with the official website is a hassle.</p>
</div>
	
<div class="project">
    <a href="https://fundamt.ermine.at" class="btn fundamt">Fundamt</a>
    <p>Privacy-oriented Lost&Found service that makes it easy to find your lost items. Made to track our items.</p>
</div>

<div class="project">
    <a href="https://songloops.ermine.at" class="btn songloops">Songloops</a>
    <p>An online interface for pymusiclooper, creates seamlessly loopable versions of songs.</p>
</div>



<div class="project">
    <a href="https://otterable3.github.io/" class="btn boardgames">Board games</a>
    <p>Board games crafted with love by me and my boyfriend. Currently only TTR:Wien on showcase until I finish the presentation for others.</p>
</div>

<div class="project">
    <a href="/portfolio/Map%20design/" class="btn art">Map design</a>
    <p>Highly stylized public transport maps in several distinctive art styles.</p>
</div>

<div class="project">
    <a href="/portfolio/Graphite%20art/" class="btn art">Graphite art</a>
    <p>Traditional art, featuring graphite fantasy pieces with industrial themes.</p>
</div>

<div class="project">
    <a href="/portfolio/Lasercutting" class="btn art">Lasercutting</a>
    <p>Lasercut lanterns, lamps, clocks and other things, either own or modified designs.</p>
</div>

</div>

<div id="notification-text" class="notification-text">Click here to view the full non-embedded version!</div>
<iframe id="project-iframe" style="display: none; width: 100%; height: 100vh; border: none; overflow: hidden;" frameborder="0"></iframe>

</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    var skillsBtn = document.getElementById('skills-btn');
    if (skillsBtn) {
        skillsBtn.addEventListener('click', function() {
            var skillsSection = document.getElementById('skills-section');
            skillsSection.style.display = skillsSection.style.display === 'block' ? 'none' : 'block';
        });
    }

    // Function to setup or remove project hover effects
 

    // Function to add popup events to projects

    // Function to move the popup
  

    // Initial setup

    // Re-setup on window resize
});
</script>


</body>
</html>
