<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ermine projects</title>
    <link href="httpss://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
	
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>


    <div class="container">
        <div class="header">
            <img src="{{ url_for('static', filename='erminelogo.png') }}" alt="Ermine Logo" class="logo">
        </div>
		


<div class="intro-text">
    <h2>In simplicity is beauty.</h2>
<button id="skills-btn" class="btn skills" style="display: block; margin: 0 auto; width: max-content;">Skills / About</button>
</div>

<div id="skills-section" class="skills-section">
    <div class="skills-category">
        <h3 class="skills-header">Tech:</h3>
        <ul>
            <li>General tech support, HW / SW</li>
            <li>Code - Python, JS, HTML5, CSS, SQL, and many related frameworks and technologies</li>
            <li>Phone repair</li>
            <li>Computer assembly</li>
        </ul>
    </div>

    <div class="skills-category">
        <h3 class="skills-header">Design:</h3>
        <ul>
            <li>Graphical design - extensive PS experience + Illustrator + Indesign</li>
            <li>Poster / marketing material design</li>
            <li>Book design</li>
            <li>AutoCAD and similar CAD programs</li>
        </ul>
    </div>

    <div class="skills-category">
        <h3 class="skills-header">Mechanical:</h3>
        <ul>
            <li>E-Scooter complete repair & assembly</li>
            <li>Bicycle complete repair & assembly</li>
        </ul>
    </div>

    <div class="skills-category">
        <h3 class="skills-header">Hobby-grade:</h3>
        <ul>
            <li>Board game design - from start to finish, including game logic, graphical assets, printing and game piece creation</li>
            <li>MIG/MAG/WIG welding</li>
            <li>Lasercutting</li>
        </ul>
    </div>

    <div class="skills-category">
        <h3 class="skills-header">Mental:</h3>
        <ul>
            <li>I'm passionate about everything I do.</li>
            <li>I learn and work best by starting in the middle.</li>
            <li>Fast worker, can work on multiple projects simultaneously.</li>
			<li>Bad at explaining things.</li>
        </ul>
    </div>
</div>

		
<div id="project-grid" class="project-grid">

          <div class="project">
                <a href="https://stimmungskompass.at" class="btn stimmungskompass">Stimmungskompass</a>
                <p>An online application designed for towns to engage residents in participatory planning.</p>
            </div>
            <div class="project">
                <a href="https://stravaexporter.ermine.at" class="btn otterguessr">Stravaexporter</a>
                <p>Export your Strava activities to a visually compelling map. Poster creation available.</p>
            </div>
            <div class="project">
                <a href="https://otterguessr.ermine.at" class="btn otterguessr">Otterguessr</a>
                <p>A free geoguessing game, with local / online multiplayer, custom game editor, custom map import, and more.</p>
            </div>

<div class="project">
    <a href="https://songloops.ermine.at" class="btn songloops">Songloops</a>
    <p>An online interface for pymusiclooper, creates seamlessly loopable versions of songs.</p>
</div>



<div class="project">
    <a href="https://cuteotter.eu" class="btn boardgames">Board games</a>
    <p>Board games crafted with love by me and my boyfriend. Currently only TTR:Wien on showcase until I finish the presentation for others.</p>
</div>

<div class="project">
    <a href="/portfolio/Map%20design/" class="btn art">Map design</a>
    <p>Highly stylized public transport maps in several distinctive art styles.</p>
</div>

<div class="project">
    <a href="/portfolio/Graphite%20art/" class="btn art">Graphite art</a>
    <p>Traditional art, featuring graphite fantasy pieces with industrial themes and highly stylized maps of public transport.</p>
</div>

<div class="project">
    <a href="/portfolio/" class="btn art">Graphic design</a>
    <p>A showcase of book covers, beer cans, tram signs, posters, etc.</p>
</div>

</div>

<div id="notification-text" class="notification-text">Click here to view the full non-embedded version!</div>
<iframe id="project-iframe" style="display: none; width: 100%; height: 100vh; border: none; overflow: hidden;" frameborder="0"></iframe>

</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    var skillsBtn = document.getElementById('skills-btn');
    if (skillsBtn) {
        skillsBtn.addEventListener('click', function() {
            var skillsSection = document.getElementById('skills-section');
            skillsSection.style.display = skillsSection.style.display === 'block' ? 'none' : 'block';
        });
    }

    // Function to setup or remove project hover effects
    function setupProjectHover() {
        const isDesktop = window.innerWidth > 1080;
        const projects = document.querySelectorAll('.project');

        projects.forEach(project => {
            if (isDesktop) {
                if (!project.hasPopupEvent) {
                    addPopupEvent(project);
                    project.hasPopupEvent = true; // Mark the project to avoid adding events multiple times
                }
            } else {
                // Optional: Handle mobile-specific behavior or cleanup if necessary
            }
        });
    }

    // Function to add popup events to projects
    function addPopupEvent(project) {
        const popup = document.createElement('img');
        popup.style.position = 'absolute';
        popup.style.maxWidth = '500px';
        popup.style.maxHeight = '400px';
        popup.style.display = 'none';
        popup.style.pointerEvents = 'none';
        popup.style.zIndex = '1001';
        document.body.appendChild(popup);

        project.addEventListener('mouseenter', function(event) {
            const projectName = project.querySelector('a').textContent.trim();
            const projectData = {
                'Stimmungskompass': 'static/bg_stimmungskompass.png',
                'Stravaexporter': 'static/bg_stravaexporter.gif',
                'Otterguessr': 'static/bg_otterguessr.png',
                'Songloops': 'static/bg_songloops.png',
                'Graphite art': 'static/bg_graphiteart.gif',
                'Graphic design': 'static/bg_digitalart.gif',
                'Map design': 'static/bg_art1.gif',
                'Board games': 'static/bg_boardgames.png'
                // Add other projects as needed
            };
            
            const imageName = projectData[projectName];
            if (imageName) {
                popup.src = imageName;
                popup.style.display = 'block';
                movePopup(event, popup);
            }
        });

        project.addEventListener('mousemove', function(event) {
            movePopup(event, popup);
        });

        project.addEventListener('mouseleave', function() {
            popup.style.display = 'none';
        });
    }

    // Function to move the popup
    function movePopup(event, popup) {
        const mouseX = event.clientX;
        const mouseY = event.clientY;
        const popupRect = popup.getBoundingClientRect();
        let popupX = mouseX + 20;
        let popupY = mouseY + 20;

        // Adjust if popup goes beyond right edge
        if (mouseX + popupRect.width + 20 > window.innerWidth) {
            popupX = mouseX - popupRect.width - 20;
        }

        // Adjust if popup goes beyond bottom edge
        if (mouseY + popupRect.height + 20 > window.innerHeight) {
            popupY = mouseY - popupRect.height - 20;
        }

        popup.style.left = `${popupX}px`;
        popup.style.top = `${popupY}px`;
    }

    // Initial setup
    setupProjectHover();

    // Re-setup on window resize
    window.addEventListener('resize', setupProjectHover);
});
</script>


</body>
</html>
