<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ermine projects</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='erminelogo.png') }}" alt="Ermine Logo" class="logo">
        <div class="links">
            <a href="http://stimmungskompass.ermine.at" class="btn" style="background-color: #FF7043;">Stimmungskompass</a>
            <p>An online application designed for towns to engage residents in participatory planning.</p>

            <a href="http://otterguessr.ermine.at" class="btn" style="background-color: #59CE6C;">Otterguessr</a>
            <p>A free geoguessing game, with local / online multiplayer, custom game editor, custom map import, and more.</p>

            <a href="http://songloops.ermine.at" class="btn" style="background-color: #B71C1C;">Songloops</a>
            <p>An online interface for pymusiclooper, creates seamlessly loopable versions of songs.</p>

            <a href="http://soundscapes.ermine.at" class="btn" style="background-color: #1565C0;">Soundscapes</a>
            <p>An organized collection of my own soundscapes.</p>
			
            <a href="http://boardgames.ermine.at" class="btn" style="background-color: #4CAF50;">Board games</a>
            <p>Board games crafted with love by me and my boyfriend.</p>

            <a href="http://art.ermine.at" class="btn" style="background-color: #4E342E;">Art</a>
            <p>A showcase of my art, featuring graphite fantasy pieces with industrial themes and highly stylized maps of public transport.</p>
			
			
        </div>
    </div>
</body>
</html>
